@charset "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* MAIN COLOR: #1864ab */
/* Grey: #495057 */

/* Sizing scale
48px 39px 31px 25px 20.00px 16.00px 12px 10px 8px */

body {
	font-family: "Roboto" ,sans-serif;
	color: #495057;
	border-bottom: #1864ab solid 8px;
}

h1 {
	text-align: center;
	font-size: 39px;
}

h2 {
	display: inline;
}

nav {
	display: flex;
  	grid-column: 1/-1;
  	align-items: center;
  	gap: 50px;
}

.logo {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.navigation-text {
	display:flex;
	width: 100%;
	justify-content: space-evenly;
	font-size: 20px;
}

.navigation-link {
	text-decoration: none;
	background-color: #1864ab;
	padding: 16px 30px;
	color: #fff;
}

.navigation-link:hover,
.navigation-link:active {

	background-color: #1c7ed6;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 10px;
}

article {
	grid-column: 1/-1;
	display: flex;
	justify-content: space-evenly;
}

.responsive-image {
	margin-top: 10px;
	height: 150px;
	width: 250px;
	margin-bottom: 10px;
}

.about-header {
	width: 70%;
	grid-column: 1/-1;
	justify-self: center;
	text-align: center;
	line-height: 1.5;
}

.about {
	width: 70%;
	grid-column: 1/-1;
	justify-self: center;
	text-align: center;
	font-size: 17px;
	line-height: 1.5;
}

.photo-info {
	width: 250px;
	text-align: center;
	font-size: 15px;
	text-align: justify;
}