@charset "ISO-8859-1";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: #fcc419;	
}

.slotmachine-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  color: #37b24d;
  text-align: center;
}

h2 {
  color: #37b24d;
  text-align: center;
}

.slotmachine {
  display: flex;
  justify-content: center;
  gap: 10px;
      align-items: center;
  
}

.slot {
  margin-top:10px;
  border: 5px solid black;
  padding: 100px;
}

.slot-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

.slot {
  border: 5px solid black;
  padding: 100px;
}

.btn-slot {
  background-color: #2f9e44;
  border-radius: 15px;
  padding: 20px;
  border: 5px solid #2b8a3e;
}

.btn-slot:hover {
	background-color: #2b8a3e;
	cursor: pointer;
}

.btn-slot:disabled {
  background-color: #e03131;
  border: 5px solid #c92a2a;
}