@charset "ISO-8859-1";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slotmachine-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  color: rgb(65, 115, 190);
  text-align: center;
}

h2 {
  display: block;
}

.slotmachine {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slot {
  border: 5px solid black;
  padding: 100px;
}

.slot-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.hidden {
  display: none;
}

.slot {
  border: 5px solid black;
  padding: 100px;
}

.btn-slot {
  background-color: green;
  padding: 20px;
}
