<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/css/home.css">
<title>Change password</title>
</head>
<body>

<h1>The Authenticated Hotel</h1>

<div class="headerbox">
	<div class = "header-text">
		<h1><a href= "/">Home</a></h1>
	</div>
	<div class = "header-text">
		<h1>Rooms</h1>
	</div>
	<div class = "header-text">
		<h1>About</h1>
	</div>
</div>

<div class="grid-container">
  <div class="grid-item">
  </div>
  <div class="grid-item">
    	<form th:action="@{/user/changepassword}" method="post">
  		 <div>
  			<label>Password</label>
  			<input type="password" th:value="${password}" name="password"/>
  		</div>
  		<button type="submit">Submit</button>
  	</form>
  </div>
</div>

</body>
</html>