<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="/css/home.css">
		<title>Home</title>
	</head>
	<body>
	
		<header>
			<h1>The <em>Authenticated</em> Hotel</h1>
		</header>
		
		<nav>
			<h2><a href= "/rooms">Rooms</a></h2>
			<h2>About</h2>
			<h2 th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class = "security-text"><a href= "/user/newuser">Register</a></h2>
			<h2 th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class = "security-text"><a href= "/login">Login</a></h2>
		</nav>
		
		<article>
		  <div class="grid-item">
		  	<img class="grid-item responsive-image" src="https://media0.giphy.com/media/3o85xLCFHDghSNviO4/giphy.gif"
		  		 alt="animation of hotel">
		  </div>
		  <div class="grid-item">
		  	<img class="responsive-image" src="https://webneel.com/image/logo/17-hotel-logo-idea.gif"
		  		 alt="hotel logo">
		  </div>
		  <div class="grid-item">
		  	<img class = "responsive-image" src="https://cdn.dribbble.com/users/2859475/screenshots/7551660/media/a6aa2061e5693b544d883e842c479728.gif">
		  </div>
		</article>
	
	</body>
</html>