<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/slotmachine.css" />
    <title>Slot Machine</title>
  </head>
  <body>
    <h1 class="slotmachine-header">Slot Machine</h1>

    <p>
      Match any of the 3 and get a free 2 night stay anytime in the next month
    </p>

    <div class="slotmachine">
      <div class="slot">
        <img class="slot--1"
          src="/images/slot-item-4.svg"
          alt="Slot machine icon"
          width="100"
          height="80"
        />
      </div>
      <div class="slot">
        <img class="slot--2"
          src="/images/slot-item-1.svg"
          alt="Slot machine icon"
          width="100"
          height="80"
        />
      </div>

      <div class="slot">
          <img class="slot--3"
          src="/images/slot-item-2.svg"
          alt="Slot machine icon"
          width="100"
          height="80"
        />
      </div>
      <div>
        <button class="btn-slot">Start</button>
      </div>
    </div>
  </body>

  <script src="/js/slotmachine.js"></script>
</html>
